body{
    height: 100vh;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
    margin-bottom: 20px;
}
#container{
    width: 50%;
    background-color: white;
    color: #333;
    display: flex;
    flex-direction: column;
    padding:20px 20px
    ;

}
.inputcontainer{
    display: flex;
    flex-direction: column;
    gap: 10px;

}
input{
    
    border: 1px solid #ccc;
}
button{
    padding: 10px;
    background-color: blue;
    color: white;
}