
body {
  margin: 0;
  font-family: Arial;
}


.site-nav {
  background-color: white;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}


.nav-left, .nav-center, .nav-right {
  display: inline-block;
  margin: 0 10px;
}


.logo {
  text-decoration: none;
  color: black;
}

.brand {
  font-weight: bold;
}


.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.nav-links li {
  display: inline-block;
  margin: 0 10px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  padding: 5px;
}


.download-btn {
  background-color: #007ACC;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 4px;
}

